<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adding Data</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='adding.css') }}">
    <style>
        :root {
            --static-url: "{{ url_for('static', filename='adding.css') }}";
        }
        .background {
            background: url('/static/bg.jpg') no-repeat;
        }
    </style>
</head>
<body>
    <div class="interface">
        <h1>Add Data</h1>
        <form action="/adding" method="post">
            <div>
                <label for="itemID">Item ID:</label>
                <input type="text" id="itemID" name="itemID" required>
            </div>
            <div>
                <label for="itemName">Item Name:</label>
                <input type="text" id="itemName" name="itemName" required>
            </div>
            <div>
                <label for="quantity">Quantity:</label>
                <input type="number" id="quantity" name="quantity" required min="1">
            </div>
            <div>
                <label for="price">Price:</label>
                <input type="number" id="price" name="price" required min="1">
            </div>
            <div>
                <label for="category">Category:</label>
                <input type="text" id="category" name="category" required>
            </div>
            <div>
                <button type="submit" class="btn">Add Item</button>
            </div>
            <div><a href="/">Dashboard Menu</a></div>
        </form>
        
        <!-- Display flash messages -->
        <ul class="flashes">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </ul>

        <!-- Display data -->
        <h2>Avaliable Items</h2>
        <table border="1">
            <tr>
                <th>Item ID</th>
                <th>Item Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Category</th>
            </tr>
            {% for row in data %}
            <tr>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
                <td>{{ row[5] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
