<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selection</title>
    <link rel="stylesheet" type="text/css" href="dashboard.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard.css') }}">
    <style>
        :root {
            --static-url: "{{ url_for('static', filename='dashboard.css') }}";
        }
        .background {
            background: url('/static/bg.jpg') no-repeat;
        }
        </style>
</head>
<body>
    <div class="interface">
        <form action="/" method="post">
            <div>
                <h1>Inventory Management System</h1>
            </div>
            <div>
                <input type="radio" id="add" name="operation" value="add">
                <label for="add">Adding Data</label>
            </div>
            <div>
                <input type="radio" id="remove" name="operation" value="remove">
                <label for="remove">Removing Data</label>
            </div>
            <div>
                <input type="radio" id="update" name="operation" value="update">
                <label for="update">Update Data</label>
            </div>
            <div>
                <input type="radio" id="search" name="operation" value="search">
                <label for="search">Search Data</label>
            </div>
            <div>
                <button type="submit" class="btn">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>
