<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Data</title>
    <link rel="stylesheet" type="text/css" href="search.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='search.css') }}">
    <style>
        :root {
            --static-url: "{{ url_for('static', filename='search.css') }}";
        }
        .background {
            background: url('/static/bg.jpg') no-repeat;
        }
        </style>
</head>
<body>

    <form action="/search" method="post">
        <h2>Search Item</h2>
        <div>
            <label for="itemID">Item ID:</label>
            <input type="text" id="itemID" name="itemID">
        </div>
        <div>
            <label for="itemName">Item Name:</label>
            <input type="text" id="itemName" name="itemName">
        </div>
        <div>
            <label for="category">Category:</label>
            <input type="text" id="category" name="category">
        </div>
        <div>
            <button type="submit">Search Item</button>
        </div>
        <div><a href="/">Dashboard Menu</a></div>
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
</body>
</html>
